.t-go-to-result__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px;
}

.t-go-to-result__title {
    color: #13010A;
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -1.68px;
}

@media (max-width: 1023px) {
    .t-go-to-result__title {
        color: #13010A;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.64px;
    }
}

.t-go-to-result__arrows {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1023px) {
    .t-go-to-result__arrows {
        display: none;
    }
}

.t-go-to-result__slider-btn {
    border: none;
}


.t-go-to-result__swiper .swiper-slide {
    max-width: 100%;
    width: 100%;
    padding: 32px;
    border-radius: 40px;
    background: #FFF;
}

@media (max-width: 1023px) {
    .t-go-to-result__swiper .swiper-slide {
        border-radius: 24px;
        padding: 16px;
    }
}

.t-go-to-result__swiper .swiper {
    width: 100%;
}

.t-go-to-result__swiper .swiper-slide {
    transform: translate3d(0, 0, 0) rotateZ(0) scale(1) !important;
}

.swiper-3d .swiper-slide-shadow {
    display: none;
}

.t-go-to-result__slide {
    display: flex;
    gap: 8px;
}

@media (max-width: 1023px) {
    .t-go-to-result__slide {
        flex-direction: column;
    }
}

.t-go-to-result__wrap {
    width: calc(50% - 4px);
    padding: 32px 0 0;
    border-radius: 24px;
    background: #F1F1F1;
    overflow: hidden;
    height: 333px;
}

@media (max-width: 1023px) {
    .t-go-to-result__wrap {
        width: 100%;
        padding: 16px 0 0;
        height: 213px;
    }
}

@media (max-width: 599px) {
    .t-go-to-result__wrap {
        height: 189px;
    }
}

.t-go-to-result__subtitle {
    margin: 0 0 31px;
    color: #13010A;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.24px;
}

@media (max-width: 1023px) {
    .t-go-to-result__subtitle {
        margin: 0 0 24px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.14px;
    }
}


.t-go-to-result__slide__img {
    display: block;
    margin: 0 auto;
    border-radius: 24px;
}

@media (max-width: 1023px) {
    .t-go-to-result__slide__img {
        max-width: 340px;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

@media (max-width: 599px) {
    .t-go-to-result__slide__img {
        max-width: 236px;
    }
}
