/* calendar */
.calendar {
  overflow: hidden;
}

.calendar__title {
  margin: 0 0 40px;
  color: #13010a;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -1.68px;
}

.calendar-container {
  padding: 32px 17px 32px 32px;
  margin-top: 40px;
  border-radius: 40px;
}

.calendar-container::-webkit-scrollbar {
  height: 4px;
}

.calendar-month {
  display: flex;
  justify-content: space-between;
}

.calendar-month__item {
  padding: 0 0 16px;
  width: calc(100% / 6);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.calendar-month__item:last-child {
  border-right: none;
}

.calendar-month__title {
  padding: 0 16px;
}

.calendar-month__numbers {
  padding: 0 8px;
  margin-bottom: 37px;
  display: flex;
}

.calendar-month__numbers span {
  font-size: 1vw;
  line-height: 117%;
  flex: 1;
  color: #c8c8d1;
}

.calendar-card {
  position: relative;
  padding: 24px;
  border-radius: 24px;
  color: var(--white-primary);
}

.calendar-card._blue {
  background: var(--blue);
  margin-top: 32px;
}
.calendar-card._purple {
  background: var(--purple);
}
.calendar-card._orange {
  background: var(--orange);
}
.calendar-card._green {
  background: var(--status-green);
}
.calendar-card._pink {
  background: var(--pink-primary);
}

.calendar-card._1 {
  width: calc(245% + 1px);
}
.calendar-card._1._four {
  width: calc(226% + 1px);
}
.calendar-card__container {
  width: calc(300% + 2px);
  margin-left: 203%;
  margin-top: 10px;
  transform: rotate(3deg);
  transform-origin: 68% 50%;
  position: relative;
  z-index: 1;
}

.calendar-card__container._four {
  margin-left: 174%;
}

.calendar-card__container:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border: 2px dashed var(--gray-secondary);
  background: var(--gray-tertiary);
  transform: rotate(-3deg);
  z-index: -1;
}
.calendar-card._2 svg {
  position: absolute;
  top: 65%;
  right: 0;
  z-index: 2;
}
.calendar-card._3 {
  width: calc(500% + 5px);
  margin-top: 24px;
}
.calendar-card._3._four {
  width: calc(475% + 5px);
  margin-top: 24px;
}
.calendar-card._4 {
  width: 200%;
  margin-left: calc(300% + 4px);
  margin-top: 16px;
}
.calendar-card._4._four {
  width: 251%;
  margin-left: calc(224% + 4px);
}
.calendar-card._5 {
  width: calc(100% - 16px);
  margin-left: 500%;
  margin-top: 16px;
}
.calendar-card._5._four {
  width: calc(120% - 16px);
  margin-left: 477%;
}

.calendar-card__title {
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.calendar-card__wrap {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 8px;
  flex-wrap: wrap;
}

.calendar-card__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  white-space: nowrap;
  border-radius: 24px;
  color: #13010a;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.calendar-card__item._white {
  background: #ffffff;
  color: var(--color-border);
}

@media screen and (max-width: 1024px) {
  .calendar-container {
    padding: 16px;
    overflow: auto;
  }

  .calendar-month__title {
    padding: 0 8px;
    white-space: nowrap;
  }

  .calendar-month__item {
    min-width: 113px;
  }

  .calendar-card__wrap {
    display: none;
  }

  .calendar-card__title {
    margin-bottom: 0;
    white-space: nowrap;
  }

  .calendar-card {
    min-width: max-content;
  }
}
